<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Все встроенные строки подключения ADONET + дополнительные актуальные СУБД: -->
	<connectionStrings>
		<clear/>

		<!-- SQL Server -->
		<add name="SqlConnString"
			 providerName="System.Data.SqlClient" 
			 connectionString="Data Source=HOME-PC\SQLEXPRESS; Initial Catalog=DataTemp;
			 Integrated Security=SSPI; Encrypt=False" />

		<!-- Microsoft Access (OleDB) -->
		<add name="OleDBString"
			 providerName="System.Data.OleDb"
			 connectionString="provider=Microsoft.ACE.OLEDB.12.0;
			 Data Source=..\\..\\..\\TestDB.accdb" />
		
		<!-- MySQL -->
		<add name="MySqlConnString"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="Server=localhost; DataBase=MySqlTest; Uid=root;
			 Pwd=password_test; Ssl_Mode=none;" />
		
		<!-- PostgreSQL -->
		<add name="PostGreSqlString"
			 providerName="Npgsql" 
			 connectionString="Host=localhost; Port=5432; Database=GreDBTest; Username=Postgres;
			 Password=password_test; "/>
		
		<!-- SQLite -->
		<add name="SQLiteConnString"
			 providerName="System.Data.SQLite"
			 connectionString="Data Source=..\\..\\..\\TestDB.sqlite; Version=3;" />
		
		<!-- ODBC -->
		<add name="ODBCString"
			 providerName="System.Data.Odbc"
			 connectionString="Driver={name_driver}; Server=localhost; Database=odbcTest; Uid=myUser; Pwd=password_test; "/>
		
		<!-- Oracle -->
		<add name="OracleConnString"
			 providerName="Oracle.ManagedDataAccess.Client"
			 connectionString="User Id=myUser; Password=password_test; Data Source=localhost:1521/XEPDB1;" />
		
		<!-- Maria DataBase(DB) -->
		<add name="MariaDBString"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="Server=localhost; Database=MariaTemp; User=root; Password=password_test; "/>
		
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>